requests
beautifulsoup4
selenium
scrapy
google-images-search
pydub
ffmpeg-python
librosa
pandas
numpy
matplotlib
seaborn
plotly
nltk
spacy
textblob
pillow
opencv-python
scikit-image
openweathermap
scikit-learn
scipy
tqdm
jupyter
notebook
